* {
  font-family: arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hide {
  display: none;
}

.modal-container {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  width: 80%;
  margin: 5%;
  padding: 5%;
  background-color: white;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
}